body {
  font: 18px
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("http://www.yoursite.com/fonts/Avenir_Next.otf"); /* File to be stored at your site */
  }

.container {
  width: 70%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  min-height: 550px;
  max-height: 700px;
  background-image: url("../images/Background Image .png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header #branding {
  float: left;
}

header #branding img {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

header a:hover {
  color: #ff5252;
}

header h1 {
  margin-top: 80px;
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  color: white;
  font-family: "Avenir Next" !important;
}

header p {
  font-size: 18px;
  color: white;
  font-weight: normal;
  text-align: center;
  font-family: "Avenir Next" !important;
  line-height: 1.5;
  margin-bottom: 40px;
}

#showcase2 img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#problem h2 {
  margin-top: 100px;
}

.paragraph_wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

}

.wrapper1{
  width: 74%;
  margin: auto;
}

  h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #1A1B3A;
  margin-top: 80px;
  margin-bottom: auto;
}

  p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #1A1B3A;
  font-weight: 300;
  line-height: 28px;

}

.wrapper1 p {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #1A1B3A;
  font-weight: 300;
  line-height: 28px;
}

.deliverable-wrapper {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
  background-color: rgba(216, 216, 216, 0.2);
  min-height: 300px;
}

.box1 {
  float: left;
  padding-left: 25%;
  width: 12%;
}

.box2 {
  float: left;
  padding-left: 7%;
  width: 12%;

}

.box3 {
  float: right;
  padding-right: 25%;
  width: 10%;

}

#deliverables {
  margin-top: 30px;
}

#deliverables h3 {
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
  color: #1A1B3A;
  font-weight: 500;
}

#deliverables li {
  font-family: 'Rubik', sans-serif;
  line-height: 30px;
  color: #1A1B3A;
  font-weight: 300;
}

.laptop {
  width: 35%;
  margin-right: 10%;
}

.iphone {
  width: 10.5%;
}

#images {
    text-align:center;
    margin-top: 5%;
}

#links {
  text-align:center;
  margin-top: 2%;
}

.laptop1 {
  margin-left: 18%;
}

.iphone1 {
  margin-left: 26%;
  margin-right: 15%;
}

#user_survey li {
  font-family: 'Rubik', sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: #1A1B3A;
  font-weight: 300;
}

#user_survey ul {
  margin-bottom: 5%;
}

a {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ff5252;
  text-decoration: none;
}

a:hover{
  color: #F58454;
}

.button:hover i {
  color: #F58454;
}

.fa-caret-right {
  color: #ff5252;
}




#user_results {
  width: 100%;
  min-height: 470px;
  background-image: url("../images/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
}

.actual_results {
  width: 57%;
  margin: auto;
  padding-top: 5%;
}

#user_results li {
  font-family: 'Rubik', sans-serif;
  line-height: 55px;
  font-size: 20px;
  color: #ffffff;
}

#user_results span {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 5%;
}

.users {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.usersflow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#userstory {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
  background-color: rgba(216, 216, 216, 0.2);
  padding-top: 1.5%;
  padding-bottom: 5%;
  border-radius: 20px;

}

#userstory h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #1A1B3A;
  margin-top: 5%;
}

#userstory p {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #1A1B3A;
  margin-bottom: 4%;
}

#userstory span {
  font-weight: 500;
}

.logo2,
.key {
  font-weight: 500;
}



.container4 {
  width: 80%;
  margin: auto;
  background-color: rgba(216, 216, 216, 0.2);
  margin-top: 5%;
  border-radius: 20px;
}
.container5 {
  width: 80%;
  margin: auto;
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.wireframe1,
.wireframe3,
.wireframe4 {
  display: inline-block;
  margin-left: 5%;
  width: 44%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
  margin-bottom: 1.5%;
}

.wireframe1,
.wireframe2 {
  margin-top: 5%;
}

.wireframe2 {
  float: right;
  margin-right: 5%;
  width: 44%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
}

.wrapper2,
.wireframe-explain {
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #1A1B3A;
  line-height: 28px;
}

.wireframe-explain {
  margin-top: 4%;
  padding-bottom: 5%;
}

#Analyzing_results h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.results1 {
  width: 49.9%;
  float: left;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 20px 0 0 20px;
}

.results2 {
  width: 49.9%;
  float: right;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 0px 20px 20px 0px;
}

.wrapper3 {
  margin: auto;
  width: 70%;
}

.highfidelity1 {
  margin: auto;
  width: 100%;
  display: inline-block;
}

.highfidelity1 li {
  margin: 15px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #1A1B3A;
  line-height: 26px;
}

.highfidelity1 h5 {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #1A1B3A;
}

.one {
  float: left;
  width: 44%;
  margin-left: 5%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);

}

.two {
  float: right;
  width: 44%;
  margin-right: 5%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);

}

.video {
  display: block;
  margin: 0 auto;
  
}

.name1 {
  float: left;
  width: 44%;
  margin-left: 5%;

}

.name2 {
  float: right;
  width: 44%;
  margin-right: 5%;
}

.highfidelity1 h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #6BA6D3;
  margin-top: 5%;
}

.result1 {
  float: left;
  width: 34%;
  margin-left: 7%;
}

.result2 {
  float: right;
  width: 34%;
  margin-right: 10%;
}

.result3 {
  float: left;
  width: 34%;
  margin-left: 7%;
  margin-bottom: 5%;
}

.result4 {
  float: right;
  width: 34%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.brand {
font-family: 'Rubik', sans-serif;
font-size: 20px;
font-weight: 500;
color: #1A1B3A;
line-height: 26px;
}

.brand1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.phone {
  width: 100%;
  margin: auto;
}

.phone1 {
  margin-left: 9%;
  margin-right: 3%;
}

.phone2,
.phone3,
.phone4 {
  margin-right: 3%;
}

.phone6 {
  margin-left: 9%;
  margin-right: 3%;
  margin-top: 5%;
}

.phone7,
.phone8,
.phone9 {
  margin-right: 3%;
  margin-top: 5%;
}

.phone1,
.phone2,
.phone3,
.phone4,
.phone5,
.phone6,
.phone7,
.phone8,
.phone9 {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
}

.desktop2,
.desktop3,
.desktop4,
.desktop5 {
  display: inline-block;
  margin-left: 2%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
}

.desktop1 {
  margin-top: 10%;
  float: left;
  margin-left: 8%;
  margin-right: 2%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .5);
}

.desktop2 {
  margin-top: 10%;
}

.desktop3,
.desktop4,
.desktop5 {
  margin-top: 2%;
}

.keylearning {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #1A1B3A;
  font-weight: 300;
  line-height: 28px;
}

#KeyLearnings ol {
  list-style-position: inside;
  padding-left: 0;
}

#KeyLearnings li {
  margin-bottom: 30px;
}




@media screen and (max-width: 768px) {

  .container {
    width: 80%;
  }

  header #branding,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header li {
    padding: 0 10px 0 10px;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 50px;
    line-height: 1.5;
    font-size: 35px;
    margin-bottom: 10px;
  }

  #showcase p, #about p {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
    margin-top: 60px;
  }

  h3 {
    margin-top: 0px;
    font-size: 25px;
    color: #E6622B;
  }

  #boxes .box1 {
    height: 300px;
    overflow: hidden;
  }

  #boxes .box4 {
    height: 300px;
    overflow: hidden;
  }

  #boxes .box5 {
    height: 390px;
    overflow: hidden;
  }

  #boxes .box8 {
    height: 390px;
    overflow: hidden;
  }

  #boxes .box {
    width: 100%;
  }

  footer {
    margin-top: 60px;
  }

  footer p,
  footer .list {
    float: none;
    text-align: center;
    width: 100%;
  }
}
